<!-- <ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>History</h1>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Invoice</ion-card-subtitle>
            <ion-card-title>vidyasagarreddy</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{profileService.user.first_name}}
        </ion-card-content>
    </ion-card>

<div id="map" style="height: 100%;"></div>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>test</ion-card-subtitle>
            <ion-card-title>reddy</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            this is for test
        </ion-card-content>
    </ion-card>

</ion-content> -->



