<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark"  >
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Get started</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" color="primary" routerLink="./email-one">Sign Up Via Email</ion-button>
        <ion-button expand="block" color="primary" routerLink="./email-one">Sign Up Via Google</ion-button>
        <ion-button expand="block" color="primary" routerLink="./email-one">Sign Up Via Facebook</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
