<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>My Credit Cards</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Name on Credit Card</ion-card-title>
            <ion-card-subtitle>Default Credit Card</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
            <ion-label>Last 3 digit of credit card number here</ion-label>
            <ion-icon name="card-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-card-content>Added on date</ion-card-content>
    </ion-card>
   
</ion-content>
